@using Microsoft.AspNetCore.Http.Authentication

@model IEnumerable<AuthenticationDescription>

@{
    ViewBag.Title = "Login";
}

<h2>
    Login Options
</h2>
<div>
    <form method="post" asp-action="ExternalLogin" asp-controller="Auth" asp-route-returnurl="@ViewData["returnUrl"]">
        <div>
            <p>
                @{ 
                    var provider = new AuthenticationDescription();
                    provider = Model.First(p => p.AuthenticationScheme.Equals("evesso", StringComparison.OrdinalIgnoreCase));
                }
                <button type="submit" name="provider" value="@provider.AuthenticationScheme" title="Login using @provider.DisplayName account">@provider.AuthenticationScheme</button>
            </p>
        </div>
    </form>
</div>