@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    <strong>This page is an unprotected resource.</strong>

    <a asp-action="ProtectedResource">Click here for protected resource.</a>
</p>